body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navitem{
    width: 100%;
}
li {
    list-style: none;
    /* margin: 5px; */
}
a{
    text-decoration: none;
    color: #f0f0f0f0;
}
.fullwidthwrap{
    background-image: url('./assets/bg8.jpg');
    background-size: cover;
    height: 820px;
    width: 100%;

}
.contentwrap{
    height: 100vh;
    width: 100%;
}
.aboveall{
    z-index: 100;
}
.card{
    margin-top: 8rem;
    margin-left: 3rem;
    height: 450px;
    width: 38rem;
    opacity: 80%;
}
.carditem{
    height: 150px;
    width: 33rem;
    background-color: grey;
}
.cardimage  {
    margin-left: 20rem;
    width: 758px;
}
.cardwrap{
    display: flex;
    flex-direction: column;
}
.navUl{
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 200;
}
.navUl li {
    margin-left: 50px;
}
.cutedge{
    margin-top: 10rem;
}
.navigation{
    position: sticky;
    background-color: #000;
    width: 100%;
    height: 25%;
    top: 0;

}
.startup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    background-color: rgb(162, 162, 162);
}
.silexteam img{
    height: 300px;
    width: 400px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: rgb(32, 31, 31);
}
.borderline{
    height: 5px;
    width: 90%;
    background-color: white;
}
.cardsidebd{
    position: absolute;
    height: 415px;
    width: 6px;
    background-color: #E89534;
}
footer ul{
    display: flex;
    flex-direction: column;
}
.footeritems{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: space-around; */
    margin-left: 40px;
    /* text-align: left; */
    color: white;
    width: 500px;
}
.footeritems ul{
    display: flex;
    flex-direction: column;
}
.footerwrap{
    display: flex;
    flex-direction: row;
    height: 550px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-top: 90px;
}
.alrightreserve{
    display: flex;
    flex-direction: row;
    width: 600px;
}
.footerul{
    display: flex;
    flex-direction: row;
    width: 250px;
}
.btnBut{
    background-color: #E89534;
}